{% extends "base.html" %}
{% block title %}{{ SITENAME }} | Articles{%endblock%}
{% block content %}
<article>
    <h1>Articles</h1>

    <dl class="articles-list">
        {% for year, date_year in dates|groupby( 'date.year' )|sort(reverse=True) %}
            <h2 class="year-heading">{{ year }}</h2>
            {% for article in date_year %}
                <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
            {% endfor %}
        {% endfor %}
    </dl>
</article>
{% endblock %}
