{% extends "base.html" %}
{% block title %}{{ SITENAME }} | {{ article.title }}{%endblock%}
{% block content %}
<article>
  <h1 class="title">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">{{ article.title }}</a>
  </h1>

  <div class='article-content'>
    {{ article.content }}
  </div>

  <div class='post-footer'>
    <div class='share-footer'>
      <div id='dated' class="abbr published">
        <span title="title='{{ article.date.isoformat() }}'">{{ article.locale_date }}</span>
        {% if not article.category == 'posts' %}
            in <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        {% endif %}
      </div>

      {% include 'addthis.html' %}
    </div>

    <div id="article_prevnext">
      <h3>Next articles</h3>

      {% if article.prev_article_in_category %}
      <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
        &#10094; {{ article.prev_article_in_category.title|truncate(70) }}
      </a>
      {% endif %}

      <div align="right">
        {% if article.next_article_in_category %}
        <a href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
          {{ article.next_article_in_category.title|truncate(70) }} &#10095;
        </a>
        {% endif %}
      </div>
    </div>

  </div>
</article>

<footer>
  <a href="{{ SITEURL }}/{{ ARCHIVES_SAVE_AS }}" class="button_accent">See all articles</a>
</footer>

{% endblock %}
