<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/webicons.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:800,400,300|Inconsolata' rel='stylesheet' type='text/css'>
	<link href="{{ FEED_DOMAIN }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
	{% if FEED_RSS %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}

	{% if article and article.latex %}
	{{ article.latex }}
	{% endif %}

    {% if GOOGLE_PLUS_PROFILE %}
    <link rel="author" href="https://plus.google.com/{{ GOOGLE_PLUS_PROFILE }}"/>
    {% endif %}

    {% block head %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{{ AUTHOR }}">

    {% if article %}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="{{ TWITTER_HANDLE }}">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:description" content="{{ article.content[:197]|striptags }}...">
    {% endif %}
    {% endblock head %}
</head>

<body>
    <section id="navbar">
        <div class="user_meta">
            <h1 id="user"><a href="{{ SITEURL }}" class="">{{ AUTHOR }}</a></h1>
            <h2>{{ TAGLINE }}</h2>
            {% if AUTHOR_BIO %}
                <p class="bio">{{ AUTHOR_BIO }}</p>
            {% endif %}
        </div>
        <div>
            <a href="/">About</a>&nbsp;&nbsp;
            <a href="/articles.html">Articles</a>&nbsp;&nbsp;
            {% for p in PAGES %}
                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>&nbsp;&nbsp;
            {% endfor %}
        </div>
        <div class="nav-icons">
            {% if EMAIL %}
            <a class="webicon mail small" href="mail:{{ EMAIL }}">Mail</a>
            {% endif %}
            {% if TWITTER_LINK %}
            <a class="webicon twitter small" href="{{ TWITTER_LINK }}" target="_blank">Twitter</a>
            {% endif %}
            {% if GITHUB_LINK %}
            <a class="webicon github small" href="{{ GITHUB_LINK }}" target="_blank">Github</a>
            {% endif %}
            {% if LINKEDIN_LINK %}
            <a class="webicon linkedin small" href="{{ LINKEDIN_LINK }}" target="_blank">Linkedin</a>
            {% endif %}
            {% if SOUNDCLOUD_LINK %}
            <a class="webicon soundcloud small" href="{{ SOUNDCLOUD_LINK }}" target="_blank">Soundcloud</a>
            {% endif %}
            {% if RSS_LINK %}
            <a class="webicon rss small" href="{{ RSS_LINK }}">RSS</a>
            {% endif %}
        </div>
     </section>

     <section id="sidebar">
        {% if USER_LOGO_URL %}
        <img src="{{ USER_LOGO_URL }}" id="logo" alt="logo">
        {% endif %}

        <div class="user_meta">
            <h1 id="user"><a href="{{ SITEURL }}" class="">{{ AUTHOR }}</a></h1>
            <h2>{{ TAGLINE }}</h2>
            {% if AUTHOR_BIO %}
                <p class="bio">{{ AUTHOR_BIO }}</p>
            {% endif %}
        </div>

        <footer>
            <div>
                <a href="/">About</a>&nbsp;&nbsp;
                <a href="/articles.html">Articles</a>&nbsp;&nbsp;
                {% for p in PAGES %}
                    <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>&nbsp;&nbsp;
                {% endfor %}
            </div>
            <div>
                {% if EMAIL %}
                <a class="webicon mail" href="{{ EMAIL }}" target="_blank">Contact</a>
                {% endif %}
                {% if TWITTER_LINK %}
                <a class="webicon twitter" href="{{ TWITTER_LINK }}" target="_blank">Twitter</a>
                {% endif %}
                {% if GITHUB_LINK %}
                <a class="webicon github" href="{{ GITHUB_LINK }}" target="_blank">Github</a>
                {% endif %}
                {% if LINKEDIN_LINK %}
                <a class="webicon linkedin" href="{{ LINKEDIN_LINK }}" target="_blank">Linkedin</a>
                {% endif %}
                {% if SOUNDCLOUD_LINK %}
                <a class="webicon soundcloud" href="{{ SOUNDCLOUD_LINK }}" target="_blank">Soundcloud</a>
                {% endif %}
                {% if RSS_LINK %}
                <a class="webicon rss" href="{{ RSS_LINK }}">RSS</a>
                {% endif %}
            </div>
        </footer>
    </section>

    <section id="posts">
        {% block content %}
        {% endblock %}
    </section>

    {% include 'analytics.html' %}
</body>
</html>
